<h4 class="no-bottom-margin latest-text w3_faq_latest_text w3_latest_text section-header">Aktualny</h4>
<div class="container">
  <div class="single-page-agile-info">
    <div class="show-top-grids-w3lagile">
      <div class="all-comments">
        <div class="all-comments-info">
          <div class="agile-info-wthree-box">
            <table class="price-table">
              <thead>
              <tr>
                <th class="table-header no-border" scope="col"></th>
                <th class="text-center table-header border-right" colspan="2" scope="col">2D</th>
                <th class="text-center table-header" colspan="2" scope="col">3D</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th class="table-header no-border" scope="row"></th>
                <td class="text-center">Poniedziałek - Czwartek</td>
                <td class="text-center border-right">Piątek - Niedziela</td>
                <td class="text-center">Poniedziałek - Czwartek</td>
                <td class="text-center">Piątek - Niedziela</td>
              </tr>
              <tr>
                <th class="text-center table-header" scope="row">Normalny</th>
                <td class="text-center">{{priceList.price2D.normal.mondayThursday}}</td>
                <td class="text-center border-right">{{priceList.price2D.normal.fridaySunday}}</td>
                <td class="text-center">{{priceList.price2D.reduced.mondayThursday}}</td>
                <td class="text-center">{{priceList.price2D.reduced.fridaySunday}}</td>
              </tr>
              <tr>
                <th class="text-center table-header no-bottom-border" scope="row">Ulgowy</th>
                <td class="text-center table-header no-bottom-border">{{priceList.price3D.normal.mondayThursday}}
                </td>
                <td class="text-center table-header no-bottom-border border-right">
                  {{priceList.price3D.normal.fridaySunday}}
                </td>
                <td class="text-center table-header no-bottom-border">{{priceList.price3D.reduced.mondayThursday}}
                </td>
                <td class="text-center table-header no-bottom-border">{{priceList.price3D.reduced.fridaySunday}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
