<div class="faq">
  <h4 class="latest-text w3_faq_latest_text w3_latest_text">Dzisiejszy repertuar</h4>
  <div class="container">
    <div class="bs-example bs-example-tabs" role="tabpanel">
      <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active">
          <div class="agile-news-table">
            <table id="table-breakpoint">
              <thead>
              <tr>
                <th colspan="2">Filma</th>
                <th>Do południa</th>
                <th>Po południu</th>
                <th>Wieczorem</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let movieProjection of repertoire">
                <td class="w3-list-img image-column-size">
                  <a (click)="navigateToMovie(movieProjection.movieId)" class="cursor-pointer">
                    <img class="poster-size" src="{{movieProjection.moviePosterUrl}}"
                         alt="{{movieProjection.movieTitle}} plakat"/>
                    <span>{{movieProjection.movieTitle}}</span>
                  </a>
                </td>
                <td>
                  <p>Czas trwania: {{movieProjection.movieDuration}}</p>
                  <p>Gatunek: {{movieProjection.movieCategory}}</p>
                  <p>Typ projekcji: {{movieProjection.projectionType}}</p>
                </td>
                <td>
                  <p *ngFor="let seance of movieProjection.seances.seancesUntilNoon"
                     [ngClass]="getSeanceCssClass(seance)"
                     (click)="bookSeance(seance)">
                    {{seance.start | date: 'HH:mm'}}
                  </p>
                </td>
                <td>
                  <p *ngFor="let seance of movieProjection.seances.seancesAfternoon"
                     [ngClass]="getSeanceCssClass(seance)"
                     (click)="bookSeance(seance)">
                    {{seance.start | date: 'HH:mm'}}
                  </p>
                </td>
                <td>
                  <p *ngFor="let seance of movieProjection.seances.seancesEvening"
                     [ngClass]="getSeanceCssClass(seance)"
                     (click)="bookSeance(seance)">
                    {{seance.start | date: 'HH:mm'}}
                  </p>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
