<div class="faq">
  <h4 class="latest-text w3_faq_latest_text w3_latest_text">Dzisiejszy repertuar</h4>
  <div class="container">
    <div class="bs-example bs-example-tabs" role="tabpanel">
      <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active">
          <div class="agile-news-table">
            <table *ngIf="!isMobile">
              <thead>
              <tr>
                <th colspan="2">Filma (*rezerwacje można składać do 30 min przed filmem)</th>
                <th>Do południa</th>
                <th>Po południu</th>
                <th>Wieczorem</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngIf="!repertoire || repertoire.length <=0">
                <td colspan="5" style="text-align: center">Brak seansów tego dnia</td>
              </tr>
              <tr *ngFor="let movieProjection of repertoire">
                <td class="w3-list-img image-column-size">
                  <a (click)="navigateToMovie(movieProjection.movieId)" class="cursor-pointer">
                    <img class="poster-size" src="{{movieProjection.moviePosterUrl}}"
                         alt="{{movieProjection.movieTitle}} plakat"/>
                    <span>{{movieProjection.movieTitle}}</span>
                  </a>
                </td>
                <td>
                  <p>Czas trwania: {{movieProjection.movieDuration}}</p>
                  <p>Gatunek: {{movieProjection.movieGenders}}</p>
                  <p>Typ projekcji: {{movieProjection.projectionType}}</p>
                </td>
                <td>
                  <p *ngFor="let seance of movieProjection.seances.seancesUntilNoon"
                     [ngClass]="getSeanceCssClass(seance)"
                     (click)="bookSeance(seance)">
                    {{seance.start | date: 'HH:mm'}}
                  </p>
                </td>
                <td>
                  <p *ngFor="let seance of movieProjection.seances.seancesAfternoon"
                     [ngClass]="getSeanceCssClass(seance)"
                     (click)="bookSeance(seance)">
                    {{seance.start | date: 'HH:mm'}}
                  </p>
                </td>
                <td>
                  <p *ngFor="let seance of movieProjection.seances.seancesEvening"
                     [ngClass]="getSeanceCssClass(seance)"
                     (click)="bookSeance(seance)">
                    {{seance.start | date: 'HH:mm'}}
                  </p>
                </td>
              </tr>
              </tbody>
            </table>
            <table *ngIf="isMobile">
              <thead>
              <tr>
                <th colspan="3">Filmy (*rezerwacje można składać do 30 min przed filmem)</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngIf="!repertoire || repertoire.length <=0">
                <td colspan="3" style="text-align: center">Brak seansów tego dnia</td>
              </tr>
              <tr *ngFor="let movieProjection of repertoire ">
                <td class="w3-list-img image-column-size">
                  <a (click)="navigateToMovie(movieProjection.movieId)" class="cursor-pointer">
                    <img class="poster-size" src="{{movieProjection.moviePosterUrl}}"
                         alt="{{movieProjection.movieTitle}} plakat"/>
                    <span>{{movieProjection.movieTitle}}</span>
                  </a>
                </td>
                <td>
                  <p>Czas trwania: {{movieProjection.movieDuration}}</p>
                  <p>Gatunek: <span class="movie-gender">{{movieProjection.movieGenders.join(', ')}},</span></p>
                  <p>Typ projekcji: {{movieProjection.projectionType}}</p>
                </td>
                <td>
                  <span *ngFor="let seance of movieProjection.seances.seancesUntilNoon"
                        [ngClass]="getSeanceCssClass(seance)"
                        (click)="bookSeance(seance)"
                        class="time-padding">
                    <div class="seance-time">{{seance.start | date: 'HH:mm'}}</div>
                  </span>
                  <span *ngFor="let seance of movieProjection.seances.seancesAfternoon"
                        [ngClass]="getSeanceCssClass(seance)"
                        (click)="bookSeance(seance)"
                        class="time-padding">
                    <div class="seance-time">{{seance.start | date: 'HH:mm'}}</div>
                  </span>
                  <span *ngFor="let seance of movieProjection.seances.seancesEvening"
                        [ngClass]="getSeanceCssClass(seance)"
                        (click)="bookSeance(seance)"
                        class="time-padding">
                    <div class="seance-time">{{seance.start | date: 'HH:mm'}}</div>
                  </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
