<app-banner></app-banner>
<app-todays-repertoire></app-todays-repertoire>
<table class="table">
  <thead class="ddssdsd">
  <tr class="ddssdsd">
    <th class="table-header" scope="col"></th>
    <th class="ddssdsd table-header border-right" colspan="2" scope="col">2D</th>
    <th class="ddssdsd table-header" colspan="2" scope="col">3D</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th class="table-header" scope="row"></th>
    <td class="ddssdsd">Poniedziałek - Czwartek</td>
    <td class="ddssdsd">Piątek - Niedziela</td>
    <td class="ddssdsd">Poniedziałek - Czwartek</td>
    <td class="ddssdsd">Piątek - Niedziela</td>
  </tr>
  <tr>
    <th class="ddssdsd table-header" scope="row">Normalny</th>
    <td class="ddssdsd">22.5</td>
    <td class="ddssdsd">25.7</td>
    <td class="ddssdsd">24.45</td>
    <td class="ddssdsd">30.7</td>
  </tr>
  <tr>
    <th class="ddssdsd table-header" scope="row">Ulgowy</th>
    <td class="ddssdsd">21.5</td>
    <td class="ddssdsd">24.5</td>
    <td class="ddssdsd">23.3</td>
    <td class="ddssdsd">27.9</td>
  </tr>
  </tbody>
</table>
<app-slide-banner></app-slide-banner>

