<ng-container [formGroup]="_controlContainer.control">

  <div class="sub-form-line">
    <div class="form-group cinema-room">
      <label class="cinema-room-label">Sala kinowa</label>
      <select formControlName="seanceRoom" class="form-control cinema-room-options">
        <option *ngFor="let seanceRoom of seanceRooms" [ngValue]="seanceRoom">{{seanceRoom.name}}</option>
      </select>
    </div>

    <div class="form-group form-week-count">
      <label class="week-count-label">Liczba tygodni projekcji filmu</label>
      <input type="number" class="week-count" formControlName="weeksCount">
      <span *ngIf="isInvalid('weeksCount')" class="error-font help-block">
          <div *ngIf="formControls.weeksCount.errors.required">To pole jest wymagane</div>
          <div *ngIf="formControls.weeksCount.errors.min">Minimalna ilość tygodni to 1</div>
      </span>
    </div>

  </div>

  <div *ngIf="weekCount > 0">
    <div class="form-group sub-form-group-left">

      <div class="btn-toolbar selector" role="toolbar">
        <span class="selector-label">Tydzień</span>
        <div class="btn-group" role="group">
          <!--          <button type="button" class="btn btn-default week-number active-week-number">1</button>-->
          <button type="button" class="btn btn-default week-number"
                  [class.active-week-number]="selectedWeek === weekIndex + 1"
                  (click)="selectWeek(weekIndex + 1)"
                  *ngFor="let week of addMovieApiModel.weeks; let weekIndex = index">
            {{weekIndex + 1}}
          </button>
        </div>
      </div>
      <!-- active-week-number -->
      <div class="btn-toolbar selector" role="toolbar">
        <span class="selector-label">Dzień</span>
        <div class="btn-group" role="group">
          <button type="button" [class.active-week-number]="selectedDay === 1"
                  class="btn btn-default week-number"
                  (click)="selectDay(1)">1
          </button>
          <button type="button" [class.active-week-number]="selectedDay === 2"
                  class="btn btn-default week-number"
                  (click)="selectDay(2)">2
          </button>
          <button type="button" [class.active-week-number]="selectedDay === 3"
                  class="btn btn-default week-number"
                  (click)="selectDay(3)">3
          </button>
          <button type="button" [class.active-week-number]="selectedDay === 4"
                  class="btn btn-default week-number"
                  (click)="selectDay(4)">4
          </button>
          <button type="button" [class.active-week-number]="selectedDay === 5"
                  class="btn btn-default week-number"
                  (click)="selectDay(5)">5
          </button>
          <button type="button" [class.active-week-number]="selectedDay === 6"
                  class="btn btn-default week-number"
                  (click)="selectDay(6)">6
          </button>
          <button type="button" [class.active-week-number]="selectedDay === 7"
                  class="btn btn-default week-number"
                  (click)="selectDay(7)">7
          </button>
        </div>
      </div>

      <div class="btn-toolbar selector" role="toolbar">
        <span class="selector-label">Typ projekcji</span>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default week-number active-week-number">2D</button>
          <button type="button" class="btn btn-default week-number">3D</button>
        </div>
      </div>

      <div class="btn-toolbar selector" role="toolbar">
        <span class="selector-label">Start projekcji</span>
        <input type="time" class="week-count movie-projection-time" formControlName="movieProjectionTime">
        <span *ngIf="isInvalid('movieProjectionTime')" class="error-font help-block">
          <div *ngIf="formControls.movieProjectionTime.errors.required">To pole jest wymagane</div>
          <div *ngIf="formControls.movieProjectionTime.errors.wrongTime">XDdddd</div>
        </span>
      </div>

      <div class="btn-toolbar selector" role="toolbar">
        <input type="button" value="Dodaj projekcję" class="form-subbmit add-procjection-button">
      </div>

    </div>
    <div class="tab-content sub-form-group-right">
      <div role="tabpanel" class="tab-pane fade in active">
        <div class="agile-news-table">
          <table id="table-breakpoint">
            <thead>
            <tr>
              <th class="table-header">Aktualne projekcjie w wybranym dniu (plus margines )</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div class="movie-projection-time" *ngFor="let movieProjection of moviesProjections">
                  <p>
                    {{movieProjection.start | date: 'HH:mm'}} - {{movieProjection.end | date: 'HH:mm'}}
                  </p>
                  <p>
                    {{movieProjection.title}} ({{movieProjection.projectionType}})
                  </p>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-content tab-whole-line" *ngFor="let week of addMovieApiModel.weeks; let weekIndex = index">
      <div role="tabpanel" class="tab-pane fade in active">
        <div class="agile-news-table">
          <table>
            <thead>
            <tr>
              <th colspan="2" class="table-header day-row">
                Tydzień {{weekIndex + 1}}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let day of week.days; let dayIndex = index">
              <td class="day-row-header">
                <p>
                  {{convertToPolishDayName(dayIndex)}}
                </p>
              </td>
              <td>
                <div class="movie-projection-time" *ngFor="let projectionTime of day.projectionTimes">
                  <p>
                    {{projectionTime.start | date: 'HH:mm'}} - {{projectionTime.end | date: 'HH:mm'}}
                    ({{projectionTime.projectionType}})
                  </p>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>
