<ng-container [formGroup]="_controlContainer.control">

  <div class="sub-form-line">
    <div class="form-group cinema-room">
      <label class="cinema-room-label">Sala kinowa</label>
      <select class="form-control cinema-room-options">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>

    <div class="form-group form-week-count">
      <label class="week-count-label">Liczba tygodni projekcji filmu</label>
      <input type="number" class="week-count" formControlName="weeksCount">
      <span *ngIf="isInvalid('weeksCount')" class="error-font help-block">
          <div *ngIf="formControls.weeksCount.errors.required">To pole jest wymagane</div>
          <div *ngIf="formControls.weeksCount.errors.min">Minimalna ilość tygodni to 1</div>
      </span>
    </div>
  </div>

  <div *ngIf="weekCount > 0">
    <div class="form-group sub-form-group-left">

      <div class="btn-toolbar selector" role="toolbar">
        <span class="selector-label">Tydzień</span>
        <div class="btn-group" role="group">
          <!--          <button type="button" class="btn btn-default week-number active-week-number">1</button>-->
          <button type="button" class="btn btn-default week-number"
                  *ngFor="let week of addMovieApiModel.weeks; let weekIndex = index">
            {{weekIndex + 1}}
          </button>
        </div>
      </div>

      <div class="btn-toolbar selector" role="toolbar">
        <span class="selector-label">Dzień</span>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default week-number active-week-number">1</button>
          <button type="button" class="btn btn-default week-number">2</button>
          <button type="button" class="btn btn-default week-number">3</button>
          <button type="button" class="btn btn-default week-number">5</button>
          <button type="button" class="btn btn-default week-number">6</button>
          <button type="button" class="btn btn-default week-number">7</button>
        </div>
      </div>

      <div class="btn-toolbar selector" role="toolbar">
        <span class="selector-label">Typ projekcji</span>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default week-number active-week-number">2D</button>
          <button type="button" class="btn btn-default week-number">3D</button>
        </div>
      </div>

    </div>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active">
        <div class="agile-news-table">
          <table id="table-breakpoint">
            <thead>
            <tr>
              <th class="table-header">Aktualne projekcjie w wybranym dniu</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div class="movie-projection-time">
                  <p>
                    11:15 - 13:45
                  </p>
                  <p>
                    Jaś Fasole (3D)
                  </p>
                </div>
                <div class="movie-projection-time">
                  <p>
                    13:25 - 18:45
                  </p>
                  <p>
                    Miś (3D)
                  </p>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>
