.wide-dropdown-menu {
  width: 402% !important;
}

.all-section-dropdown-menu {
  width: 100% !important;
}

.hidden-visibility {
  visibility: hidden;
}

.text-center {
  text-align: center;
}

.border-right {
  border-right: #e8e8e8 1px solid;
}

.zero-horizontal-padding {
  padding-left: 0;
  padding-right: 0
}

.table-header {
  background-color: white;
}

.no-border {
  border-bottom: white 1px solid !important;
}

.no-bottom-border {
  border-bottom: white 1px solid !important;
}
