<div class="banner-bottom">
  <h4 class="latest-text w3_faq_latest_text w3_latest_text">Polecane filmy</h4>
  <div class="container">
    <div class="w3_agile_banner_bottom_grid">
      <div id="owl-demo" class="owl-carousel owl-theme">

        <div class="item" *ngFor="let movie of movies">
          <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
            <a class="hvr-shutter-out-horizontal">
              <img src="{{movie.posterUrl}}" title="album-name" class="img-responsive" alt=" "/>
              <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
            </a>
            <div class="mid-1 agileits_w3layouts_mid_1_home">
              <div class="w3l-movie-text">
                <h6><a href="">{{movie.title}}</a></h6>
              </div>
              <div class="mid-2 agile_mid_2_home">
                <p>{{movie.yearOfPremiere}}</p>
                <div class="block-stars">
                  <ul class="w3l-ratings">

                    <li *ngFor="let star of getFakeTableForShowingStars(movie.rating)">
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li *ngIf="ratingHasHalfPoint(movie.rating)">
                      <a href="#">
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                      </a>
                    </li>

                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="ribben">
              <p>Nowość</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="small-dialog" class="mfp-hide">
  <iframe src="https://www.youtube.com/embed/TcMBFSGVi1c"></iframe>
</div>
