<div class="faq">
  <div class="container">
    <div class="agileinfo-news-top-grids">
      <div class="col-md-12 wthree-top-news-left">

        <div class="wthree-news-left">
          <div class="wthree-news-left-img">
            <div class="agile_tv_series_grid">
              <div class="col-md-4 agile_tv_series_grid_left">
                <div class="w3ls_market_video_grid1">
                  <img
                    src="{{movie.posterUrl}}"
                    alt="Plakat  filmu {{movie.title}}" class="img-responsive"/>
                  <a class="w3_play_icon2" href="#small-dialog">
                    <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                  </a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="agile_tv_series_grid_right">
                  <table>
                    <caption class="table-header">{{movie.title}}</caption>
                    <tr>
                      <td class="row-title">Gatunek</td>
                      <td class="row-content">
                        <span>{{movie.genders.join(', ')}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="row-title">Czas trwania</td>
                      <td class="row-content">{{movie.duration}}</td>
                    </tr>
                    <tr>
                      <td class="row-title">Ocena</td>
                      <td class="row-content stars">
                        <a *ngFor="let star of getFakeTableForShowingStars(movie.rating)"><i class="fa fa-star"
                                                                                             aria-hidden="true"></i></a>
                        <a *ngIf="ratingHasHalfPoint(movie.rating)"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                        <a *ngFor="let emptyStar of getFakeTableForShowingEmptyStars(movie.rating)"><i
                          class="fa fa-star-o" aria-hidden="true"></i></a>
                      </td>
                    </tr>
                  </table>

                </div>
                <app-movie-seances [seances2D]="movie.seances2D" [seances3D]="movie.seances3D"></app-movie-seances>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="small-dialog" class="mfp-hide">
  <iframe [src]="movie.trailerUrl | safe"></iframe>
</div>
