<div class="faq">
  <h4 class="latest-text w3_faq_latest_text w3_latest_text">Dzisiejszy repertuar</h4>
  <div class="container">
    <div class="bs-example bs-example-tabs" role="tabpanel">
      <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active">
          <div class="agile-news-table">
            <table>
              <thead>
              <tr>
                <th>Film</th>
                <th>Do południa</th>
                <th>Po południu</th>
                <th>Wieczorem</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td style="font-weight: bold">Film 1</td>
                <td><a href="" style="font-weight: bold; color: darkgrey">11:15</a></td>
                <td style="font-weight: bold; color: orangered">15:15</td>
                <td style="font-weight: bold; color: limegreen">18:15</td>
              </tr>
              <tr>
                <td><strong>Film 2</strong></td>
                <td>2011</td>
                <td>HD</td>
                <td>7.5</td>
              </tr>
              <tr>
                <td><strong>Film 3</strong></td>
                <td>2010</td>
                <td>SD</td>
                <td>6.5</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
