<div class="movies_nav">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="collapse navbar-collapse navbar-right">
        <nav>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cennik<b
                class="caret"></b></a>
              <ul class="wide-dropdown-menu dropdown-menu multi-column columns-4" role="menu">
                <table>
                  <thead>
                  <tr>
                    <th class="table-header no-border" scope="col"></th>
                    <th class="text-center table-header border-right" colspan="2" scope="col">2D</th>
                    <th class="text-center table-header" colspan="2" scope="col">3D</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th class="table-header no-border" scope="row"></th>
                    <td class="text-center">Poniedziałek - Czwartek</td>
                    <td class="text-center border-right">Piątek - Niedziela</td>
                    <td class="text-center">Poniedziałek - Czwartek</td>
                    <td class="text-center">Piątek - Niedziela</td>
                  </tr>
                  <tr>
                    <th class="text-center table-header" scope="row">Normalny</th>
                    <td class="text-center">22.5</td>
                    <td class="text-center border-right">25.7</td>
                    <td class="text-center">24.45</td>
                    <td class="text-center">30.7</td>
                  </tr>
                  <tr>
                    <th class="text-center table-header no-bottom-border" scope="row">Ulgowy</th>
                    <td class="text-center table-header no-bottom-border">21.5</td>
                    <td class="text-center table-header no-bottom-border border-right">24.5</td>
                    <td class="text-center table-header no-bottom-border">23.3</td>
                    <td class="text-center table-header no-bottom-border">27.9</td>
                  </tr>
                  </tbody>
                </table>
              </ul>
            </li>
            <li><a routerLink="/repertuar" routerLinkActive="active">Repertuar</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kino - Dąbrowa Górnicza<b
                class="caret"></b></a>
              <ul class="all-section-dropdown-menu dropdown-menu">
                <li><a href="">Dąbrowa Górnicza</a></li>
                <li><a href="">Katowice</a></li>
              </ul>
            </li>
            <li><a routerLink="/repertuar" routerLinkActive="active">O kinie</a></li>
          </ul>
        </nav>
      </div>
    </nav>
  </div>
</div>
