<ng-container [formGroup]="_controlContainer.control">
  <div class="sub-form-line">
    <div class="form-group cinema-room">
      <label class="cinema-room-label">Sala kinowa</label>
      <select formControlName="screeningRoom" class="form-control cinema-room-options"
              (change)="setScrreningRoomSeances()">
        <option *ngFor="let seanceRoom of data.screeningRooms" [ngValue]="seanceRoom">{{seanceRoom.name}}</option>
      </select>
      <span class="help-block help-block-right">
          <div>*zmiana sali spowoduje usunięcie dodanych seansów</div>
      </span>
    </div>

    <div class="form-group form-week-count">
      <label class="week-count-label">Liczba tygodni projekcji filmu</label>
      <input type="number" class="week-count" formControlName="weeksCount">
      <span *ngIf="isInvalid('weeksCount')" class="error-font help-block">
          <div *ngIf="formControls.weeksCount.errors.required">To pole jest wymagane</div>
          <div *ngIf="formControls.weeksCount.errors.min">Minimalna ilość tygodni to 1</div>
      </span>
    </div>

  </div>

  <div *ngIf="weekCount > 0">
    <div class="form-group sub-form-group-left">

      <div class="btn-toolbar selector" role="toolbar">
        <span class="selector-label">Tydzień</span>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default week-number"
                  [class.active-week-number]="data.selectedWeekNumber === weekIndex"
                  (click)="selectWeek(weekIndex)"
                  *ngFor="let week of addedSeances; let weekIndex = index">
            {{weekIndex}}
          </button>
        </div>
      </div>

      <div class="btn-toolbar selector" role="toolbar">
        <span class="selector-label">Dzień</span>
        <div class="btn-group" role="group">
          <button type="button" *ngFor="let day of data.weekDays"
                  [class.active-week-number]="data.selectedDayNumber === day"
                  [class.hide]="data.selectedWeekNumber === 0 && day < data.currentDayNumber"
                  class="btn btn-default week-number"
                  (click)="selectDay(day)">{{day}}
          </button>
        </div>
      </div>

      <div class="btn-toolbar selector" role="toolbar">
        <span class="selector-label">Typ projekcji</span>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default week-number"
                  [class.active-week-number]="data.selectedProjectionType === ProjectionType.type2D"
                  (click)="setProjectionType(ProjectionType.type2D)">2D
          </button>
          <button type="button" class="btn btn-default week-number"
                  [class.active-week-number]="data.selectedProjectionType === ProjectionType.type3D"
                  (click)="setProjectionType(ProjectionType.type3D)">3D
          </button>
        </div>
      </div>

      <div class="btn-toolbar selector" role="toolbar">
        <span class="selector-label">Start projekcji</span>
        <input type="time" class="week-count movie-projection-time" formControlName="movieProjectionTime">
        <span *ngIf="isInvalid('movieProjectionTime')" class="error-font help-block">
          <div *ngIf="formControls.movieProjectionTime.errors.required">To pole jest wymagane</div>
          <div *ngIf="formControls.movieProjectionTime.errors.emptySeanceDuration">Uzupełnij pole z czasem filmu</div>
          <div *ngIf="formControls.movieProjectionTime.errors.wrongTime">Ta godzina jest nie poprawna</div>
        </span>
      </div>

      <div class="btn-toolbar selector" role="toolbar">
        <input type="button" value="Dodaj seans" class="form-subbmit2"
               [class.add-movie-button-activated]="canAddMovie()" (click)="addSeance()">
      </div>

    </div>
    <div class="tab-content sub-form-group-right">
      <div role="tabpanel" class="tab-pane fade in active">
        <div class="agile-news-table">
          <table id="table-breakpoint">
            <thead>
            <tr>
              <th class="table-header">Aktualne seanse w dniu {{getSelectedDayDate() | date: 'dd.MM.yyyy'}} (plus
                margines {{getSeanceRoomBreakBeforeAndAfterMovie()}} minut przed i po projekcji filmu)
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div class="movie-projection-time" *ngFor="let movieProjection of seances">
                  <p>
                    {{movieProjection.start | date: 'HH:mm'}} - {{movieProjection.end | date: 'HH:mm'}}
                  </p>
                  <p>
                    {{movieProjection.title}} ({{movieProjection.projectionType}})
                  </p>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-content tab-whole-line" *ngFor="let week of addedSeances; let weekIndex = index">
      <div role="tabpanel" class="tab-pane fade in active">
        <div class="agile-news-table">
          <table>
            <thead>
            <tr>
              <th colspan="2" class="table-header day-row">
                Tydzień {{weekIndex}}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let day of week.days; let dayIndex = index">
              <td class="day-row-header">
                <p>
                  {{getPolishDayName(dayIndex)}}
                </p>
              </td>
              <td>
                <div class="movie-projection-time" *ngFor="let projectionTime of day.seancesTimes">
                  <p>
                    {{projectionTime.start | date: 'HH:mm'}} - {{projectionTime.end | date: 'HH:mm'}}
                    ({{projectionTime.projectionType}})
                    <span class="delete-seance" (click)="removeSeance(projectionTime, weekIndex, dayIndex)">x</span>
                  </p>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>
