<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
  <button routerLink="/admin/film/dodaj" class="btn btn-success"> Dodaj film</button>
  <div id="myTabContent" class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active">
      <div class="agile-news-table">
        <table id="table-breakpoint">
          <thead>
          <tr>
            <th colspan="2">Filma</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let movie of movies ">
            <td class="w3-list-img image-column-size">
              <a class="cursor-pointer">
                <span>{{movie.title}}</span>
              </a>
            </td>
            <td>
            </td>
            <td class="action">
              <a routerLink="/admin/film/podglad/{{movie.id}}">Podgląd</a>
            </td>
            <td class="action">
              <a routerLink="/admin/film/edycja/{{movie.id}}">Edytuj</a>
            </td>
            <td class="action">
              <a routerLink="">Usuń</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
