<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Logowanie i Rejestracja
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      </div>
      <section>
        <div class="modal-body">
          <div class="w3_login_module">
            <div class="module form-module">
              <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                <div class="tooltip">Kliknij</div>
              </div>
              <div class="form">
                <h3>Zaloguj</h3>
                <form action="#" method="post">
                  <input type="text" name="Username" placeholder="Login" required="">
                  <input type="password" name="Password" placeholder="Hasło" required="">
                  <input type="submit" value="Zaloguj">
                </form>
              </div>
              <div class="form">
                <h3>Zarejestruj</h3>
                <form action="#" method="post">
                  <input type="text" name="Username" placeholder="Login" required="">
                  <input type="password" name="Password" placeholder="Haslo" required="">
                  <input type="email" name="Email" placeholder="Adres email" required="">
                  <input type="submit" value="Zarejestruj">
                </form>
              </div>
              <div class="cta"><a href="#">Zapomniałeś hasła?</a></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
