.white-font-color {
  color: white !important;
}

.black-font-color {
  color: #212121 !important;
}

.btn span.glyphicon {
  opacity: 0;
}

.btn.active span.glyphicon {
  opacity: 1;
}

.white-border-top {
  border-top: 5px solid white !important;
}

.font-size {
  font-size: 14px;
}

.agile-info-wthree-box form {
  margin: 1em auto;
}

.form-module {
  border-top: none;
  box-shadow: none;
}

.error-font {
  font-size: 80%;
  color: #dc3545;
}

.center-div {
  margin: 0 33%;
}

.orange-background {
  background-color: orangered;
}

.center {
  text-align: center;
}

.price {
  font-size: 200% !important;
}

.fa-arrow-left {
  font-size: 26px;
  cursor: pointer;
}
