.seat {
  color: white;
  border-radius: 15px;
  padding: 4px 4px;
  border: 3px solid white;
  width: 12px;
  height: 12px;
  text-align: center;
  background-color: red;
}

.available {
  background-color: limegreen !important;
  cursor: pointer;
}

.available-background-color {
  background-color: limegreen !important;
}

.booked {
  background-color: orangered !important;
}

.selected {
  background-color: dodgerblue !important;
}

.unavailable {
  background-color: white !important;
  color: white;
}

.screen {
  margin-bottom: 15px;
  padding: 5px 0;
  text-align: center;
  background-color: darkgray;
  border-radius: 15px 15px 0px 0px;
  width: 91%;
  float: right;
}


.wthree-news-right-top {
  min-height: 0;
}

.my-button {
  position: relative;
  left: 40%;
  color: white;
  background-color: maroon;
}

.comment {
  margin: 15px;
  text-align: center;
}

.row-title {
  background-color: #FF8D1B !important;
  color: #212121;
  font-size: 14px;
  font-weight: bold;
  float: left;
  width: 35%;
  border: none !important;
}

.row-content {
  border: none !important;
  background-color: #FF8D1B;
  color: white;
  font-size: 14px;
  font-weight: bold;
  float: left;
  width: 65%;
}

.no-border {
  border: none;
}

.background-color {
  background-color: #FF8D1B;
}

.max-booked-count {
  color: red;
}

.legend {
  border-radius: 15px;
  text-align: center;
  margin: 5px 0;
}

.white-font-color {
  color: white !important;
}

.black-font-color {
  color: #212121 !important;
}

.btn span.glyphicon {
  opacity: 0;
}

.btn.active span.glyphicon {
  opacity: 1;
}

.white-border-top {
  border-top: 5px solid white !important;
}

.font-size {
  font-size: 14px;
}

.agile-info-wthree-box form {
  margin: 1em auto;
}

.form-module {
  border-top: none;
  box-shadow: none;
}

.error-font {
  font-size: 80%;
  color: #dc3545;
}

.center-div {
  margin: 0 33%;
}

.center {
  text-align: center;
}

.price {
  font-size: 200% !important;
}

.fa-arrow-left {
  font-size: 26px;
  cursor: pointer;
}

.form {
  margin: 0 !important;
  max-width: none;
}

.form-inputs {
  display: block;
  min-height: 250px;
}

.form-right {
  display: block;
  float: right;
  width: 48%;
}

.form-left {
  display: block;
  float: left;
  width: 48%;
}

.form-subbmit {
  width: 30%;
  margin: 0 auto;
}


.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #FF8D1B;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #FF8D1B;
  cursor: pointer;
}

.movie-rate-text {
  float: left;
}

.movie-rate-input {
  float: right;
  width: 70% !important;
}

.movie-rate {
  margin-top: 10px;
  margin-bottom: 57px;
}
