<div class="header">
  <div class="container">
    <div class="w3layouts_logo">
      <a routerLink="/">
        <h1>One<span>Movies</span></h1>
      </a>
    </div>
    <div class="w3l_sign_in_register right-section-size">
      <ul>
        <li class="header-right-content" *ngIf="logoutButton"><a (click)="logout()">Wyloguj</a></li>
        <li class="header-right-content">
          <a routerLink="/admin" routerLinkActive="active-option">Panel administratora</a>
        </li>
        <li class="header-right-content"><i class="fa fa-phone" aria-hidden="true"></i>{{cinemPhoneNumber}}</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
