.past-seance {
  font-weight: bold !important;
  color: darkgray !important;
}

.running-seance {
  font-weight: bold !important;
  color: orangered !important;
}

.available-seance {
  font-weight: bold !important;
  color: limegreen !important;
}
