.past-seance {
  font-weight: bold !important;
  color: darkgray !important;
}

.running-seance {
  font-weight: bold !important;
  color: orangered !important;
}

.available-seance {
  font-weight: bold !important;
  color: limegreen !important;
  cursor: pointer !important;
}

.poster-size {
  width: 70px !important;
  height: 100px !important;
}

.image-column-size {
  width: 100px !important;
}
