<div class="faq">
  <div class="container">
    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
      <div class="days-center">
        <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li
            role="presentation"
            *ngFor="let letter of data.bookmarkLetters; let dayNumber = index"
            [class.active]="letter === 'a'"
            [class.mobile-bookmark]="isMobile">
            <a
              (click)="repertoireList(letter, dayNumber)"
              href="#{{letter}}"
              role="tab"
              id="{{letter}}-tab"
              data-toggle="tab">
              {{data.repertoireDays[dayNumber]}}
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="{{data.repertoireList.bookmarkLetter}}">
          <div class="agile-news-table">
            <table *ngIf="!isMobile">
              <thead>
              <tr>
                <th colspan="2">Filma (*rezerwacje można składać do 30 min przed filmem)</th>
                <th>Do południa</th>
                <th>Po południu</th>
                <th>Wieczorem</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngIf="!data.repertoireList.repertoire || data.repertoireList.repertoire.length <=0">
                <td colspan="5" style="text-align: center">Brak seansów tego dnia</td>
              </tr>
              <tr *ngFor="let movieProjection of data.repertoireList.repertoire ">
                <td class="w3-list-img image-column-size">
                  <a (click)="navigateToMovie(movieProjection.movieId)" class="cursor-pointer">
                    <img class="poster-size" src="{{movieProjection.moviePosterUrl}}"
                         alt="{{movieProjection.movieTitle}} plakat"/>
                    <span>{{movieProjection.movieTitle}}</span>
                  </a>
                </td>
                <td>
                  <p>Czas trwania: {{movieProjection.movieDuration}}</p>
                  <p>Gatunek: <span class="movie-gender">{{movieProjection.movieGenders.join(', ')}},</span></p>
                  <p>Typ projekcji: {{movieProjection.projectionType}}</p>
                </td>
                <td>
                  <span *ngFor="let seance of movieProjection.seances.seancesUntilNoon"
                        [ngClass]="getSeanceCssClass(seance)"
                        (click)="bookSeance(seance)"
                        class="time-padding">
                    {{seance.start | date: 'HH:mm'}}
                  </span>
                </td>
                <td>
                  <span *ngFor="let seance of movieProjection.seances.seancesAfternoon"
                        [ngClass]="getSeanceCssClass(seance)"
                        (click)="bookSeance(seance)"
                        class="time-padding">
                    {{seance.start | date: 'HH:mm'}}
                  </span>
                </td>
                <td>
                  <span *ngFor="let seance of movieProjection.seances.seancesEvening"
                        [ngClass]="getSeanceCssClass(seance)"
                        (click)="bookSeance(seance)"
                        class="time-padding">
                    {{seance.start | date: 'HH:mm'}}
                  </span>
                </td>
              </tr>
              </tbody>
            </table>
            <table *ngIf="isMobile">
              <thead>
              <tr>
                <th colspan="3">Filmy (*rezerwacje można składać do 30 min przed filmem)</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngIf="!data.repertoireList.repertoire || data.repertoireList.repertoire.length <=0">
                <td colspan="3" style="text-align: center">Brak seansów tego dnia</td>
              </tr>
              <tr *ngFor="let movieProjection of data.repertoireList.repertoire ">
                <td class="w3-list-img image-column-size">
                  <a (click)="navigateToMovie(movieProjection.movieId)" class="cursor-pointer">
                    <img class="poster-size" src="{{movieProjection.moviePosterUrl}}"
                         alt="{{movieProjection.movieTitle}} plakat"/>
                    <span>{{movieProjection.movieTitle}}</span>
                  </a>
                </td>
                <td>
                  <p>Czas trwania: {{movieProjection.movieDuration}}</p>
                  <p>Gatunek: <span class="movie-gender">{{movieProjection.movieGenders.join(', ')}},</span></p>
                  <p>Typ projekcji: {{movieProjection.projectionType}}</p>
                </td>
                <td>

                  <span *ngFor="let seance of movieProjection.seances.seancesUntilNoon"
                        [ngClass]="getSeanceCssClass(seance)"
                        (click)="bookSeance(seance)"
                        class="time-padding">
                    <div>{{seance.start | date: 'HH:mm'}}</div>
                  </span>

                  <span *ngFor="let seance of movieProjection.seances.seancesAfternoon"
                        [ngClass]="getSeanceCssClass(seance)"
                        (click)="bookSeance(seance)"
                        class="time-padding">
                    <div>{{seance.start | date: 'HH:mm'}}</div>
                  </span>
                  <span *ngFor="let seance of movieProjection.seances.seancesEvening"
                        [ngClass]="getSeanceCssClass(seance)"
                        (click)="bookSeance(seance)"
                        class="time-padding">
                    <div>{{seance.start | date: 'HH:mm'}}</div>
                  </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
